

{% extends 'base.html' %}

{% block title %}
        <title>List | Email Collector </title>
{% endblock%}

{% block content %}

                {% if messages %}
                                         {% for message in messages %}
        
                                         <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                            <strong>{{message}}</strong>
        
                                         </div>
                                          {% endfor%}
                                    {% endif %}
                                       
          
                    <h1>Email List</h1>
               

                {% for email_log in email_logs  %}
               
                            
                            <h5>{{ email_log.name}}</h5>
                            <p>
                                {{email_log.email}}
                            </p>
                      
                {% endfor %}
               
         
{% endblock %}