

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% block title %}
        
        {% endblock%}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Site Description Here">
      
    </head>
    <body class=" ">
       
              
                                <ul class="menu-horizontal text-left">
                                    <li class="dropdown__sec">
                                        <a href="{% url 'index' %}">
                                            <span>
                                                <h3 style="font-weight: bold;margin:0;">Email Collector App</h3>
                                            </span>
                                        </a>
                                    </li>
                                   
                                </ul>
                            </div>
                            <!--end module-->
                        </div>
                        <div class="col-lg-5 text-right text-left-xs text-left-sm order-lg-3">
                            <div class="bar__module">
                                <a class="btn btn--sm type--uppercase"  href="{% url 'email_list' %}">
                                    <span class="btn__text">
                                        Email List
                                    </span>
                                </a>
                                <a class="btn btn--sm btn--primary type--uppercase" href="{% url 'add_email' %}">
                                    <span class="btn__text">
                                        Add New Email
                                    </span>
                                </a>
                            </div>
                            <!--end module-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </nav>
            <!--end bar-->
        </div>

        {% block content %}
        
        {% endblock %}
    </body>

   
</html>